// Alt der gælder for mobil og højere

  * { // Gælder alt på hele siden
    -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
    box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
  }

  body {
    margin: 0; // Ingen kanter i siden af browser
  }




h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: Cambria;
}


  h1, h2, h3, h4, h5, h6 {
    margin: 0; // Ingen ydre margen fra overskrifter
    padding: 0; // Ingen indre margen fra overskrifter
  }

  ul, ol {
    margin: 0; // Ingen ydre margen fra lister
    padding: 0; // Ingen indre margen fra lister
    list-style-position: inside; // List punkter står på linje
  }


p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: 'Tajawal', sans-serif;
}

  li {
    margin: 0; // Ingen ydre margen fra listpunkter
  }


  p {
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
  }

  // Sikrer billeder er responsive
  img {
    display: block; // Billeder er et element (laver linjeskift)
    max-width: 100%; // Bredde må maks fylde 100%
    height: auto; // Højden skal tilpasse sig
  }


$primar_color: #0A6466;
$CTA: #B56C0C;
$CTA_border: #EF8F0F;
$gray: #707070;


.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

header {
  grid-row: 1;
}

.dropdown {
  position: relative; }

.fa-bars {
  color: $gray; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.menu_logo {
  display: none;
}

.h_logo {
  img {
    width: 110px;
    margin: 0 0 0 10px;
    padding: 7px 0 0 0;
  }
}

.h_menu1, .h_menu2, .h_menu3, .h_menu4 {
  a {
    color: black;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    font-family: "Classico URW";
    line-height: 30px;
    justify-content: center;
    display: flex;
  }

}

main {
 grid-row: 2;
}

.i_main_grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.i_bigtext {
  grid-row: 1;
}

.i_hidebox {
  grid-row: 3;
  position: relative;
  //background-color: $primar_color;
}

.i_heads {
  grid-row: 2;
}

.i_male1 {
 
}

.i_male2 {

}

.i_male3 {

}

.i_male4 {

}

.i_fe1 {

}

.i_fe2 {

}


.i_fe3 {

}


footer {
  grid-row: 3;
  background-color: $primar_color;

  h3 {
    color: white;

  }

  p {
    color: white;

  }

  label {
    color: white;
  }

  i {
    color: white;
  }
}

.f_grid {
  display: grid;
  width: 100%;
}

.f_formula {
  margin: 10px 0 20px 20px;

  p {
    margin-bottom: 15px;
  }

  input {
    width: 70%;
    height: 30px;
    color: #000000;
    padding-left: 5px;
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    font-family: Cambria;
  }

  button {
    text-align: center;
    font-family: cambria;
    color: white;
    background-color: $CTA;
    border-radius: 2px;
    border: solid 1px $CTA_border;
    width: 80px;
    height: 20px;
    font-size: 16px;
    padding-top: 0;
  }
}



.f_name, .f_email, .f_tlf, .f_links {
  margin-bottom: 20px;
}

.f_coop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px 0px 20px 20px;
}

.f_box1{
  grid-column: 1;
}

.f_box2{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 30px;
}

.f_contact {
  margin: 0 0 15px 0;

  .fa {
    margin: 0 20px 0 0;
  }
}

.f_links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  font-size: 30px;

  i {
    margin-right: 5px;
  }
}

.f_text {
  display: none;
}

.f_icons {
  display: flex;
  justify-content: center;
}

//Oliver Slut -------------------------------------------------------------

/* Start Kristian ----------------------------------------------------*/

.eContent{
  display: block;
  width: 100%;
  background-color: #0A6466;
  color: white;
}

.eContentAside{
  display: none;
}

.ePopular{
  display: flex;
  width: 100%;
  justify-content: space-around;

  .eFlex{
    width: 45%;
  }
}

.ePopularText{
  width: 90%;
  margin: 0 auto;
}

.ePoppularPicture{
  display: none;
}

.ePrice{
  text-align: right;
}

.eFilterMobile{
  display: flex;
  justify-content: space-around;
}

.eDropBtn{
  display: block;
  position: relative;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  border-radius: 4px;

}

.eDropContent{
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 100%;
  top: 396px;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.eDropBtnMon{
  width: 100%;
  display: inline;
  position: relative;
}

.eDropBtn2{
  display: block;
  position: relative;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 12pt;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.eDropContent2{
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 100%;
  top: 367px;
  margin-top: 8%;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.eDropBtnLoc{
  width: 100%;
}

.eEventsList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .eFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 1% auto;

    .eFlexImg{
      width: 39%;
    }

    .eEventText{
      display: block;
      width: 59%;
      font-size: 10pt;
    }

    .eEventBreadText{
      height: 58%;
    }
  }
}

.eEventNav{
  font-size: 24px;
  margin: 0 auto;

  li{
    display: inline;
    width: 10%;
  }

  .eArrow{
    font-size: 36px;
  }
}
/* -- Slut Kristian ------------------------------------------------------ */


//Nillerbrunch start ---------------------------------------------------


.mHeader{
  text-align: center;
  margin: 10%;
}

.mStartImg{
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../img/mStartImg.jpg");
  background-size: cover;
  .mOpa{
    position: absolute;
    background-color: rgba(10, 100, 102, 0.5);
    width: 100%;
    height: 300px;
  }
}


.mCTA{
  position: absolute;
  top: 70%;
  left: 20%;
  background-color: $CTA;
  border: 1px solid $CTA_border;
  padding: 10px 40px;
  text-decoration: none;
  color: white;

}

.mInfoText{
  margin: 8% 10%;

}

.mBackground{
  background-color: $primar_color;
  width: 100%;
  padding: 10%;

}

.mFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;

}

.mInfoPicBox{
 margin-bottom: 8%;
}

.mInfoPic{
  box-shadow: 2px 2px 2px black;
}

.mInfoPicText{
  color: white;
  margin: 10px 1px;
  h2{
    margin-bottom: 3%;
  }

}

.mNews{
  margin-top: 10%;
  color: white;
  h2{
    margin-bottom: 3%;
  }
  button{
    position: absolute;
    text-align: center;
    font-family: cambria;
    color: white;
    background-color: $CTA;
    border-radius: 2px;
    border: solid 1px $CTA_border;
    width: 80px;
    height: 20px;
    font-size: 16px;
    padding-top: 0;
    margin-top: 5%;
    right: 10%;
  }
}


.mForm{
input{
  width: 70%;
  height: 30px;
  color: #000000;
  padding-left: 5px;
  border: 0;
  border-radius: 3px;
  -webkit-appearance: none;
  font-family: Cambria;
  margin: 10px 0;
}
  label{
    font-weight: bold;
  }
}

// Nillerbrunch slut ------------------------------------------


 // Sofie start --------------------------------------------

.koverskrift1 {
  text-align: center;
  font-size: 20pt;
  margin-top: 10%;
}

.koverskrift2 {
  text-align: center;
  font-size: 15pt;
  margin-top: 10%;
  margin-bottom: 15%;
}

.kflex1 {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 15%;
  margin-top: 15%;
}

.kcon1 {
  width: 48%;
  padding-left: 8%;
  margin-top: 10%;
}

.kimage1 {
  width: 48%;
  margin-top: 7%;
}

.kflex2 {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
}

.kcon2 {
  width: 60%;
  margin: 0 17% 0 23%;
}

.kflextext1 {
  text-align: center;
  margin: 13% 7% 0 0
}

.kcon3 {
  width: 60%;
  margin: 0 auto;
}

.kflextext2 {
  text-align: center;
  margin: 0;
}

.kcon4 {
  width: 69%;
  margin: 8% 0 0 8%
}

.kflextext3 {
  text-align: center;
  margin: 10% 0 25% 25%
}

.kbroed2 {
  display: none;
}

.kflex3 {
  display: none;
}

  // Sofie Slut ---------------------------------------------





@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil


  /* -- Kristian ------------------------------- */


  .eEventsList{
    flex-direction: row;
    flex-wrap: wrap;

    .eFlex{
      width: 45%;
    }
  }

  .eDropContent{
    top: 520px;
  }

  .eDropContent2{
    top: 460px;
  }

  // Nillerbrunch start --------------------------------------------


  .mStartImg{
    height: 400px;
    .mOpa{
      height: 400px;
    }
  }

  .mCTA{
    font-size: 1.5em;
  }

  .mNews{
    button{
      right: auto;
    }
  }

  // Nillerbrunch slut ----------------------------------------------



}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  // Nillerbrunch start --------------------------------------------------

  .mStartImg{
    height: 500px;
    .mOpa{
      height: 500px;
    }
  }

  .mCTA{
    font-size: 1.7em;
  }

  .mFlex{
    flex-direction: row;

    .mInfoPic{
      height: 160px;
    }

  }

  // Nillerbrunch slut ----------------------------------------------------

  /* --Kristian ------------ */

  .eMobHeadline1{
    display: none;
  }

  .eFilterMobile{
    display: none;
  }

  .eMobHeadline2{
    display: none;
  }

  .eContent{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    .eContentAside{
      display: block;
      width: 24%;

      .eAsideFlex{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-align: center;
        height: 150px;
        width: 60%;
        margin: 5% auto;

        .eDropBtn{
          display: block;
          position: relative;
          background-color: white;
          color: black;
          padding: 5px;
          font-size: 12pt;
          border: none;
          cursor: pointer;
          border-radius: 4px;

        }

        .eDropContent{
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 3;
          min-width: 14.4%;
          top: 31.1%;

          background-color: white;
          outline: 5px auto #5d5d5d;
        }

        .eDropBtnMon{
          width: 100%;
          display: inline;
          position: relative;
        }

        .eDropBtn2{
          display: block;
          position: relative;
          background-color: white;
          color: black;
          padding: 5px;
          font-size: 12pt;
          border: none;
          cursor: pointer;
          border-radius: 4px;
        }

        .eDropContent2{
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 3;
          min-width: 14.4%;
          top: 21.4%;

          background-color: white;
          outline: 5px auto #5d5d5d;
        }

        .eDropBtnLoc{
          width: 100%;
        }
      }
    }

    .eContentEvents{
      width: 74%;
    }
  }

  .ePopular{
    width: 95%;
    justify-content: space-between;
    margin: 0;

    .ePoppularPicture{
      display: block;
      width: 20%;
      margin-right: 5%;

    }

    .eFlex{
      width: 35%;
      margin-top: 5%;
    }
  }

  /* --Kristian slut --------------------------- */

  // Sofie Start -----------------------------------------


  .koverskrift1 {
    text-align: center;
    font-size: 30pt;
    margin-top: 10%;
  }

  .koverskrift2 {
    text-align: center;
    font-size: 25pt;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .koverskrift3 {
    text-align: center;
    font-size: 25pt;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: -10%;
  }

  .kbroed {
    display: none;
  }

  .kbroed3 {
    margin-left: 38%;
  }

  .kcon1 {
    width: 25%;
    margin-top: 2%;
    margin-left: 10%;
  }

  .kimage1 {
    width: 28%;
    margin-top: -8%;
    margin-right: 12%;
  }

  .kbroed2 {
    display: block;
  }

  .kflex2{
    flex-direction: row-reverse;
  }

  .kcon2 {
    margin: 5% 0 0 0;
  }

  .kflextext1 {
    margin: 10% 51% 0 0;
  }

  .kcon3 {
    margin: 7% 2% 0 0;
  }

  .kflextext2 {
    margin: 3% 48.5% 0 0;
  }

  .kcon4 {
    margin: 8% 0 0 12%;
  }

  .kflextext3 {
    margin: 10% 40% 0 0;
  }

  #kcon3 {
    margin: 5% 13% 0 0;
  }

  #kflextext2 {
    margin: 3% 48.5% 0 0;
  }

  #kcon4 {
    margin: 6% 0 15% 26%;
  }

  #kflextext3 {
    margin: 10% 43% 0 0;
  }

  .kflex3 {
    display: flex;
  }

  .kcontainer {
    display: inline-block;
    padding: 20px;
    margin-left: 200px;
    font-family: 'Tajawal', sans-serif;
    font-size: 100%;
    text-align: center;
    float: left;
  }

  .knavn {
    width: 200%;
    height: 40px;
    font-size: 12pt;
    padding-top: 1%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: none;

  }

  .kemail {
    @extend .knavn
  }

  .kbesked {
    width: 200%;
    height: 200px;
    font-size: 12pt;
    padding-top: 1%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: none;
  }

  .sendbutton {
    background-color: $CTA;
    border: 1px solid $CTA_border;
    border-radius: 10px;
    font-size: 12pt;
    font-family: 'Tajawal', sans-serif;
    margin: 10% 0 0 150%;
    padding: 5px 12px;
    color: white;
    height: 40px;
    width: 50%;

  }

.kconformula {
  margin: -6% 0 0 0;
}

  .kfleximg2 {
    margin: -10% -12% 10% 8%;
  }



}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  header {
    height: 100px;
  }

  .h_logo {
    display: none;
  }

  .h_content {
    display: grid;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: white;
    outline: 0 auto #5d5d5d;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 3fr;
  }

  .dropdown_btn {
    display: none;
  }

  .box1, .box2 {
    display: flex;
    justify-content: space-around;
    margin-top: 7px;
  }

  .box1 {
    grid-column: 1;

  }

  .box2 {
    grid-column: 3;
  }

  .menu_logo {
    display: flex;
    grid-column: 2;
    grid-row: 1/2;
    max-width: 115px;
    margin: auto;
    justify-content: center;
  }

  .f_grid {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
  }

  .f_formula {
    grid-column: 1;
    margin: 45px 0 0 115px;
  }

  .f_formula button {
    position: absolute;
  }

  /* --Kristian ------------ */

  .eEventsList{
    .eFlex{
      width: 30%;
    }
  }

  /* -- Kristian ------------- */

  /* Nillerbrunch start ------------------------- */

  .mHeader{
    margin: 5%;
  }

  .mStartImg{
    height: 650px;
    .mOpa{
      height: 650px;
    }

  }

  /* Nillerbrunch slut ---------------------------- */

  .f_name, .f_email, .f_tlf, .f_links {
    margin-bottom: 12px;
  }

  .f_coop {
    margin: 0 0 0 0;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .f_box1 {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45px;
  }

  .f_box2 {
    grid-row: 2;
    grid-column: 1;
    line-height: 50px;
  }

  .f_contact {
    grid-column: 3;
    display: grid;
    grid-template-rows: 4fr 4fr;
  }

  .f_contact {
    margin: 0 0 15px 0;

    .fa {
      margin: 0 20px 55px 0;
    }
  }

  .f_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .f_icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .f_links {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin: 25px 0 30px 0;
    padding: 0 510px;
  }

}

@media print {
  // Alt der gælder for print specifikt
}