// Alt der gælder for mobil og højere

  * { // Gælder alt på hele siden
    -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
    box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
  }

  body {
    margin: 0; // Ingen kanter i siden af browser
  }




h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: Cambria;
}


  h1, h2, h3, h4, h5, h6 {
    margin: 0; // Ingen ydre margen fra overskrifter
    padding: 0; // Ingen indre margen fra overskrifter
  }

  ul, ol {
    margin: 0; // Ingen ydre margen fra lister
    padding: 0; // Ingen indre margen fra lister
    list-style-position: inside; // List punkter står på linje
  }


p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: Classico URW;
}

  li {
    margin: 0; // Ingen ydre margen fra listpunkter
  }


  p {
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
  }

  // Sikrer billeder er responsive
  img {
    display: block; // Billeder er et element (laver linjeskift)
    max-width: 100%; // Bredde må maks fylde 100%
    height: auto; // Højden skal tilpasse sig
  }


$primar_color: #0A6466;
$CTA: #B56C0C;
$CTA_border: #EF8F0F;


.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

header {
  grid-row: 1;
}

.dropdown {
  position: relative; }

.fa-bars {
  color: #781616; }

.dropdown_btn {
  position: absolute;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  right: 12px;
  top: 7px; }

.dropdown_btn:hover {
  cursor: pointer; }

.h_content {
  display: none;
  position: absolute;
  z-index: 3;
  min-width: 80%;
  top: 50px;
  right: 0;
  background-color: white;
  outline: 5px auto #5d5d5d;
}

.menu_logo {
  display: none;
}

main {
 grid-row: 2;
}

footer {
  grid-row: 3;
  background-color: $primar_color;

  h3 {
    color: white;

  }

  p {
    color: white;

  }

  label {
    color: white;
  }

  i {
    color: white;
  }
}

.f_grid {
  display: grid;
  width: 100%;
}

.f_formula {
  margin: 10px 0 20px 20px;

  p {
    margin-bottom: 15px;
  }

  input {
    width: 70%;
    height: 30px;
    color: #000000;
    padding-left: 5px;
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    font-family: Cambria;
  }

  button {
    text-align: center;
    font-family: cambria;
    color: white;
    background-color: $CTA;
    border-radius: 2px;
    border: solid 1px $CTA_border;
    width: 80px;
    height: 20px;
    font-size: 16px;
    padding-top: 0;
  }
}



.f_name, .f_email, .f_tlf, .f_links {
  margin-bottom: 20px;
}

.f_coop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px 0px 20px 20px;
}

.f_box1{
  grid-column: 1;
}

.f_box2{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  line-height: 30px;
}

.f_contact {
  margin: 0 0 15px 0;

  .fa {
    margin: 0 20px 0 0;
  }
}

.f_links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  font-size: 30px;

  i {
    margin-right: 5px;
  }
}

.f_text {
  display: none;
}

.f_icons {
  display: flex;
  justify-content: center;
}

//Oliver Slut -------------------------------------------------------------

/* Start Kristian ----------------------------------------------------*/

.eContent{
  display: block;
  width: 100%;
  background-color: #0A6466;
  color: white;
}


.ePopular{
  display: flex;
  width: 100%;
  justify-content: space-around;

  .eFlex{
    width: 45%;
  }
}

.ePopularText{
  width: 90%;
  margin: 0 auto;
}

.ePrice{
  text-align: right;
}

.eTempBtn{
  width: 20%;
  height: 15px;
  margin: 1% auto;
}

.eEventsList{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .eFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    max-height: 90px;
    margin: 1% auto;

    .eFlexImg{
      width: 39%;
    }

    .eEventText{
      display: flex;
      flex-direction: column;
      width: 59%;
    }

    .eEventBreadText{
      height: 58%;
    }
  }
}

.eEventNav{
  font-size: 24px;
  margin: 0 auto;

  li{
    display: inline;
    width: 10%;
  }

  .eArrow{
    font-size: 36px;
  }
}
  /* -- Slut Kristian ------------------------------------------------------ */


//Nillerbrunch start ---------------------------------------------------


.mHeader{
  text-align: center;

}

.mStartImg{
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../img/mStartImg.jpg");

  background-size: cover;

}

.mCTA{
  position: absolute;
  top: 70%;
  left: 25%;

}

.mInfoText{
  margin: 5%;

}

.mBackground{
  background-color: #0A6466;
  width: 100%;
  padding: 5%;
}

.mFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;

}

.mInfoPicBox{
 margin-bottom: 5%;

}

.mInfoPic{
  box-shadow: 2px 2px 2px black;

}

.mInfoPicText{
  color: white;

}

.mNews{
  margin-top: 5%;
  color: white;
}


.mForm{

}

// Nillerbrunch slut ------------------------------------------


 // Sofie start --------------------------------------------

.kflex1 {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10%;
}

.kcon1 {
  width: 48%;
  padding-left: 8%;
  margin-top: 10%;
}

.kimage1 {
  width: 48%;
}

.kflex2 {
  display: flex;
  height: 300px;
  width: 100%;
  flex-direction: column;
}

.kcon2 {
  width: 60%;
  margin: 0 17% 0 23%;
}

.kflextext1 {
  text-align: center;
  margin: 13% 7% 0 0
}

.kcon3 {
  width: 60%;
  margin: 0 auto;
}

.kflextext2 {
  text-align: center;
  margin: 0;
}

.kcon4 {
  width: 69%;
  margin: 8% 0 0 8%
}

.kflextext3 {
  text-align: center;
  margin: 10% 0 0 25%
}

  // Sofie Slut ---------------------------------------------





@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  // Nillerbrunch start --------------------------------------------

  .mStartImg{
    height: 400px;
  }

  // Nillerbrunch slut ----------------------------------------------



}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  // Nillerbrunch start --------------------------------------------------

  .mFlex{
    flex-direction: row;
  }

  // Nillerbrunch slut ----------------------------------------------------

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  header {
    height: 100px;
  }

  .h_logo {
    display: none;
  }

  .h_content {
    display: grid;
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: white;
    outline: 0 auto #5d5d5d;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 3fr;
  }

  .dropdown_btn {
    display: none;
  }

  .box1, .box2 {
    display: flex;
    justify-content: space-around;
  }

  .box1 {
    grid-column: 1;

  }

  .box2 {
    grid-column: 3;
  }

  .menu_logo {
    display: block;
    grid-column: 2;
    max-width: 25%;
    top: -25px;
    position: absolute;
  }

  .f_grid {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
  }

  .f_formula {
    grid-column: 1;
    margin: 45px 0 0 115px;
  }

  .f_formula button {
    position: absolute;
  }

  .f_name, .f_email, .f_tlf, .f_links {
    margin-bottom: 12px;
  }

  .f_coop {
    margin: 0 0 0 0;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

  .f_box1 {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 45px;
  }

  .f_box2 {
    grid-row: 2;
    grid-column: 1;
    line-height: 50px;
  }

  .f_contact {
    grid-column: 3;
    display: grid;
    grid-template-rows: 4fr 4fr;
  }

  .f_contact {
    margin: 0 0 15px 0;

    .fa {
      margin: 0 20px 55px 0;
    }
  }

  .f_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .f_icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .f_links {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin: 25px 0 30px 0;
    padding: 0 510px;
  }
}

@media print {
  // Alt der gælder for print specifikt
}